*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Audiowide', sans-serif;
  /* border: 1px solid red; */
  /* font-family: 'Press Start 2P', cursive; */
}
.home {
    width: 100vw;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    background-color: #090913;
    overflow-x: hidden;
    color: #F0F0F0;
    .glow {
      z-index: 0;
      position: absolute;
      pointer-events: none;
      border-radius: 50%;
      background: rgba(0, 0, 255, 0.8);
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.9),
                  0 0 60px rgba(0, 0, 255, 0.6),
                  0 0 90px rgba(0, 0, 255, 0.4);
      width: 100px;
      height: 100px;
      transform: translate(-50%, -50%);
      transition: width 0.2s ease, height 0.2s ease;
    }
    .glow.expanded {
      width: 150px; /* Expanded size of the glow */
      height: 150px; /* Expanded size of the glow */
      box-shadow: 0 0 50px rgba(0, 0, 255, 0.9), 0 0 100px rgba(0, 0, 255, 0.8), 0 0 150px rgba(0, 0, 255, 0.7), 0 0 200px rgba(0, 0, 255, 0.9), 0 0 250px rgba(0, 0, 255, 0.9), 0 0 300px rgba(0, 0, 255, 0.9), 
      0 0 600px rgba(0,0,225, 0.9),0 0 600px rgba(0,0,225, 0.9); /* Expanded glow effect */
  }
  
    .hex-container {
      position: relative;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 0;
    }
  
    // Reference to original CSS for other styles
    .homepg {
        z-index: 2;
        left: 0;
        overflow: hidden;
        background-color: transparent;
        position: relative;
        display: flex;
        height: 100vh;
        max-height: 100%;
        width: 100vw;
        justify-content: center;
        .txtcol {
            display: flex;
            flex-direction: column;
            width: 65%;
            max-width: 900px;
            align-items: center;
            justify-content: center;
            .maintxt{
              h1{
                color: rgb(242, 74, 59);
                font-size: 5rem;
                line-height: 3.1rem;
                margin: 1% 0;
              }
              h2{
                color: #27c39f;
                  font-size: 4rem;
                  line-height: 4.5rem;
                  margin: 2% 0;
              }
              h3{
                color: #27c39f;
                  font-size: 3rem;
                  line-height: 3.5rem;
                  padding-bottom: 1%;
              }
              p{
                color: #27c39f;
                  line-height: 1rem;
                  margin: 2% 0;
              }
            }
          }
          .imcol{
            display: flex;
            width: 35%;
            max-width: 50%;
            align-items: center;
            justify-content: center;
            img{
              max-width: 100%;
              height: auto;
              max-height: 100%;
              margin: auto;
            }
        }
    }
  
    .header{
      position: relative;
      margin-top: 5%;
      margin-bottom: 2%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 20vh;
      h1{
        font-size: 7.5rem;
        color: #27c39f;
      }
     }


     .game-area{
      z-index: 2;
      width: 100vw;
      height: max-content;
      display: flex;
      flex-direction: row;
      .side{
        margin-top: 5%;
        height: 50vh;
        position: sticky;
        position: -webkit-sticky; /* For Safari */
        top: 0;
        left: 0;
        width: 25%;
        height: max-content;
        .stick-box{
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 23px;
          padding: 6%;
          margin-top: 20%;
          border: 0.5px solid red;
          .line{
            width: 70%;
            z-index: 100;
            background-color:white;
            opacity: .35;
            height: .5px;
          }
        }
      }
      .game-cards{
        width: 80%;
        background-color: #090913;
        height: max-content;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        .game-card{
          height: 100vh;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2%;
          gap: 10%;
        }
        .content{
          height: 70%;
          width: 48%;
          gap: 2%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h2{
            color: blueviolet;
          }
          h3{
            color: rgb(242, 74, 59);
          }
          p{
            color: #27c39f;
          }
          .twobutton{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
        .gamei{
          height: 70%;
          width: 48%;
          position: relative;
          img{
            height: 100%;
            width: auto;
            display: block;
          }
        }
        .gamei::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(to right, rgba(9, 9, 19, 0.8), rgba(9, 9, 19, 0));
          pointer-events: none;
        }
      } 
      .btn2 {
        --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
        --border-width: 0.125em;
        --curve-size: 0.5em;
        --blur: 30px;
        --bg: #080312;
        --color: #afffff;
        color: var(--color);
        cursor: pointer;
        position: relative;
        isolation: isolate;
        display: inline-grid;
        place-content: center;
        padding: 0.5em 1.5em;
        font-size: 17px;
        border: 0;
        text-transform: uppercase;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
        clip-path: polygon(
          /* Top-left */ 0% var(--curve-size),
          var(--curve-size) 0,
          /* top-right */ 100% 0,
          100% calc(100% - var(--curve-size)),
          /* bottom-right 1 */ calc(100% - var(--curve-size))100%,
          /* bottom-right 2 */ 0 100%
        );
        transition: color 250ms;
      }
      .btn2::after,
      .btn2::before {
        content: "";
        position: absolute;
        inset: 0;
      }

      .btn2::before {
        background: var(--border-color);
        background-size: 300% 300%;
        animation: move-bg7234 5s ease infinite;
        z-index: -2;
      }

      @keyframes move-bg7234 {
        0% {
          background-position: 31% 0%;
        }

        50% {
          background-position: 70% 100%;
        }

        100% {
          background-position: 31% 0%;
        }
      }

      .btn2::after {
        background: var(--bg);
        z-index: -1;
        clip-path: polygon(
          /* Top-left */ var(--border-width)
            calc(var(--curve-size) + var(--border-width) * 0.5),
          calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
          /* top-right */ calc(100% - var(--border-width)) var(--border-width),
          calc(100% - var(--border-width))
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
          /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
            calc(100% - var(--border-width)),
          /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
        );
        transition: clip-path 500ms;
      }

      .btn2:where(:hover, :focus)::after {
        clip-path: polygon(
          /* Top-left */ calc(100% - var(--border-width))
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
          calc(100% - var(--border-width)) var(--border-width),
          /* top-right */ calc(100% - var(--border-width)) var(--border-width),
          calc(100% - var(--border-width))
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
          /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
            calc(100% - var(--border-width)),
          /* bottom-right 2 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
            calc(100% - var(--border-width))
        );
        transition: 200ms;
      }
      }
    
  }