.navbar{
    width: 100vw;
    height: 10vh;
    top: 0;
    left: 0;
    font-weight: 600;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(8px);
    padding: 12px 10.5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .03);
    z-index: 3;
    border-bottom: 0.1px solid rgb(242, 74, 59);
    nav{
        margin: 0 5%;
        width: 30%;
        max-width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav a{
        text-decoration: none;
    }
    .navlogo{
        .logo {
            width: 50px;
            height: 50px;
        }
    }


    .btn-container{
        position: relative;
        padding: 4px;
        background: linear-gradient(90deg, #03a9f4, #f441a5);
        border-radius: 0.7em;
        transition: all 0.4s ease;
        #wallet-btn{
            padding: 0.6em 0.8em;
            border-radius: 0.5em;
            border: none;
            background-color: #000;
            color: #fff;
            cursor: pointer;
            box-shadow: 2px 2px 3px #000000b4;
        }
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            border-radius: 0.9em;
            z-index: -10;
            filter: blur(0);
            transition: filter 0.4s ease;          
        }
        &:hover::before {
            background: linear-gradient(90deg, #03a9f4, #f441a5);
            filter: blur(1.2em);
        }
        &:active::before {
            filter: blur(0.2em);
        }
    }
}